:root{
  --background-color: #333;
  --white:#ecf0f1;
  --navy-blue:#2c3e50;
  --red:#e74c3c;
}
body {
  background-color: var(--background-color);
  color: var(--white);
  margin: 0;
  font-family: rubik;
}
.poke_container {
  padding: 40px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}

.pokemon-name {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
  color: var(--white);
}

#pokedex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.pkmn-card {
  list-style: none;
  padding: 40px;
  background-color: var(--navy-blue);
  text-align: center;
}

.pkmn-card:hover {
  -webkit-animation: bounce 0.5s linear;
          animation: bounce 0.5s linear;
}

.pkmn-card-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 2.3em;
  font-weight: normal;
  color: var(--red);
}

.pkmn-card-subtitle {
  margin-top: 5px;
  color: var(--white);
  font-weight: lighter;
  text-transform: capitalize;
}

.pkmn-card-image {
  height: 250px;
}

.pkmn-card-image:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* @keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
} */
.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  padding: 1%;
  border-radius: 17px;
  background: var(--background-color);
}

.rgn-btn {
  font-family: rubik;
  display: block;
  width: 14%;
  font-size: 1.5em;
  font-weight: 520;
  padding: 0.3em;
  border: var(--background-color);
  border-radius: 7px;
  margin: 0em 0.2em;
  background: var(--red);
  color: var(--white);
}

.rgn-btn:hover {
  background: var(--white);
  color: var(--background-color);
}

.sticky {
  position: fixed;
  top: 0;
  width: 98%;
  padding: 1%;
}
/* Modal Content Styling */
.modal-header, .modal-body{
  background: var(--background-color);
}
.modal-body{
  text-align: center;
}
.modal-title{
  text-transform:capitalize;
}

.modal-pkmn-card-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 2.3em;
  font-weight: normal;
  color: var(--red);
}

.modal-pkmn-card-subtitle {
  margin-top: 5px;
  color: var(--white);
  font-weight: lighter;
  text-transform: capitalize;
}

.modal-pkmn-card-image {
  height: 250px;
}

.modal-pkmn-card-image:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.modal-pokemon-name {
  margin-left: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
  color: var(--white);
}

#modal-pokemon-name-id-container{
  display: flex;
  align-content: center;
  justify-content: center;
}
.progress{
  margin-bottom: 10px;
  height: 25px;
}

/* Modal Content Styling */


/* Nav */


#navbar, #navbarNav{
  background: var(--background-color);
  padding: 0;
  margin: 0;
}
#navbar a{
  padding-left: 1rem;
  color: var(--white);
  font-size: 3rem;
  text-align: right;
}
#navbarNav a{
  color: var(--white);
  font-size: 1.5rem;
}
#navbarNav ul{
  padding: 0;
  margin: 0;
}
#navbarNav li:hover a{
  color: var(--red);
  font-weight: bold;
}
#navbarNav{
  text-align: right;
}

/* Nav */

/* Mobile Display */
@media only screen and (max-width: 420px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: auto;
    margin: 0;
    padding: 1%;
  }
  #pokedex {
    grid-gap: 10px;
  }
  .poke_container {
    padding: 1%;
    margin: 0;
  }
  .pkmn-card-title {
    display: block;
    font-size: auto;
  }
  .pkmn-pokemon-name {
    display: block;
    font-size: auto;
  }
  .pkmn-card-image {
    display: none;
  }
  .pkmn-card-subtitle {
    display: none;
  }
  .buttons {
    display: block;
    width: auto;
    height: auto;
    font-size: auto;
  }
  .rgn-btn {
    width: 100%;
    font-size: auto;
  }
}